[submodule "hw01/max"]
	path = hw01/max
	url = https://github.com/therealmaxkim/Escape-The-Rooms
[submodule "hw02/max"]
	path = hw02/max
	url = git@github.com:therealmaxkim/Tic-Tac-Toe.git
[submodule "hw03/max"]
	path = hw03/max
	url = git@github.com:therealmaxkim/Dummy-Twitter.git
[submodule "hw04/max-nicole-cameron"]
	path = hw04/max-nicole-cameron
	url = git@github.com:therealmaxkim/Pi-Temperature.git
[submodule "hw05/max"]
	path = hw05/max
	url = git@github.com:therealmaxkim/Audio-Visualizer.git
[submodule "hw06/max"]
	path = hw06/max
	url = git@github.com:therealmaxkim/Direction-Visualizer.git
[submodule "hw07/max"]
	path = hw07/max
	url = git@github.com:therealmaxkim/poem-generator.git
[submodule "hw08/max"]
	path = hw08/max
	url = git@github.com:therealmaxkim/HandGesture-Adventure.git
[submodule "hw01/nart"]
	path = hw01/nart
	url = git@github.com:quavaro/programming-is-possible-assignments.git
[submodule "hw02/nart"]
	path = hw02/nart
	url = git@github.com:quavaro/tictactoe.git
[submodule "hw03/nart"]
	path = hw03/nart
	url = git@github.com:quavaro/dumb-twitter.git
[submodule "hw04/nart-dylan"]
	path = hw04/nart-dylan
	url = git@github.com:quavaro/dht.git
[submodule "hw05/nart"]
	path = hw05/nart
	url = git@github.com:quavaro/raindrop-prelude.git
[submodule "hw06/nart"]
	path = hw06/nart
	url = git@github.com:quavaro/faceprecognition.git
[submodule "hw07/nart"]
	path = hw07/nart
	url = git@github.com:quavaro/quote-poem.git
[submodule "hw01/cameron"]
	path = hw01/cameron
	url = git@github.com:c9632/express-intro.git
[submodule "hw05/cameron"]
	path = hw05/cameron
	url = git@github.com:c9632/Audio-Visualizer.git
[submodule "hw06/cameron"]
	path = hw06/cameron
	url = git@github.com:c9632/Draw-With-Nose.git
[submodule "hw07/cameron"]
	path = hw07/cameron
	url = git@github.com:c9632/Pokemon-Bible-Verse-Generator.git
